/*-----------------------------------------------------
    Générique
-----------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*-----------------------------------------------------
    Component
-----------------------------------------------------*/
.wrapper{
    max-width: 1100px;
    margin: auto auto;
}

h1{
    font: 900 6rem 'Roboto', sans-serif; letter-spacing: 0.36em; color: white;
}

h2{
    font: 100 3rem 'Lato', sans-serif; line-height: 60px; letter-spacing: 2.64px;
}

h3{
    font: 400 2.25rem 'Quicksand', sans-serif; line-height: 60px;
}

p{
   font: 400 1.25rem 'Roboto', sans-serif; line-height: 40px; 
}

span{
    font: 700 1.25rem 'Roboto', sans-serif;
}
/*-----------------------------------------------------
    Éléments
-----------------------------------------------------*/